<footer class="container mb-4 mt-1">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <h2 class="footer-heading">KanColle Indonesia Patch External Links</h2>

  <div class="row" style="font-size: small;">
    <div class="col-lg-3 col-md-6 col-mb-0">
      <a href="https:///www.facebook.com/groups/4662081140578372" target="_blank" class="text-decoration-none"><span class="bi bi-facebook"></span> BCR KanColle Community</a>
      <br>
      <a href="https://www.facebook.com/WorldWitchesIndonesiaCommunity" target="_blank" class="text-decoration-none"><span class="bi bi-facebook"></span> World Witches Indonesia Community</a>
      <br>
      <a href="https://www.facebook.com/profile.php?id=61561100279770" target="_blank" class="text-decoration-none"><span class="bi bi-facebook"></span> Terukaze 1939</a>
    </div>
    <div class="col-lg-3 col-md-6 col-mb-0">
      <a href="https://chat.whatsapp.com/BEQXUFek52T5IweZIUmYBJ" target="_blank" class="text-decoration-none"><span class="bi bi-whatsapp"></span> BCR KanColle und Random (The Main Room)</a>
      <br>
      <a href="https://chat.whatsapp.com/HZgmBfhnioiLjYVXejy5sk" target="_blank" class="text-decoration-none"><span class="bi bi-whatsapp"></span> World Witches Indonesia Community</a>
    </div>
    <div class="col-lg-3 col-md-6 col-mb-0">
      <a href="https://www.github.com/SLAVUSworks/KanColle-Indonesia-Patch-KCCP" target="_blank" class="text-decoration-none"><span class="bi bi-github"></span> KanColle Indonesia Patch (KCCP)</a>
    </div>
  </div>
</div>

</footer>
