body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: #4cdbff !important;

}


pre {
    background-color: rgb(24, 24, 24) !important;
}

.language-json {
    background-color: rgb(24, 24, 24) !important;
}