---
layout: default
---

<div class="home">
  
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Artikel" }}</h2>
    <div class="row gx-1 gy-2">
      {%- for post in site.posts -%}
        <div class="col-lg-4 col-md-4 col-sm">
          <div class="card shadow bg-dark" style="min-height: 10rem;">
            <div class="card-body">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">
                {{ post.date | date: date_format }}
              </span>
              <h3>
                <a href="{{ post.url | relative_url}}" class="post-link text-decoration-none">
                  {{post.title | escape}}
                </a>
              </h3>
              {%- if post.categories -%}
                <div class="d-flex flex-wrap gx-5">
                {%- for cat in post.categories -%}
                <div class="me-1">
                  <span class="badge rounded-pill bg-primary">
                    {{ cat | default: "No Category"}}
                  </span>
                </div>

                {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          </div>

        </div>
      {%- endfor -%}
    </div>
 

  {%- endif -%}

</div>
